<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="movies.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <script src="main.js" defer></script>
    <title>Movies</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar_logo">
                <a href="#"><img src="../img/logo2.jpg" alt="Logo"></a>
            </div>

            <ul class="navbar_menu">
                <li><a href="#">영화예매</a></li>
                <li><a href="#">상품</a></li>
                <li><a href="#">영화후기</a></li>
                <li><a href="#">공지사항</a></li>
            </ul>

            <ul class="navbar_member">
                <li><a href="join.html">로그인</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>

            <a href="#" class="navbar_btn">menu</a>
        </nav>
    </header>

    <div class="main">
        <nav class="movie_nav">
            <ul>
                <li><a href="#"><span>현재 상영작</span></a></li>
                <li><a href=""><span>개봉 예정작</span></a></li>
            </ul>
        </nav>
        <div class="movie_wrap">
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span class="movie_title"><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>
            <div class="movie">
                <a href="#"><img src="../img/movie_poster1.jpg" alt="POSTER1"></a>
                <div class="movie_info">
                    <span><a href="#">날씨의 아이</a></span>
                    <span><a href="#">개봉일 2019.10.30</a></span>
                    <button type="button">예매하기</button>
                </div>
            </div>

        </div>
        
        <div class="page_nation">
            <ul>
                <li><span><a href="#">이전</a></span></li>
                <li><span><a href="#">1</a></span></li>
                <li><span><a href="#">2</a></span></li>
                <li><span><a href="#">3</a></span></li>
                <li><span><a href="#">4</a></span></li>
                <li><span><a href="#">5</a></span></li>
                <li><span><a href="#">6</a></span></li>
                <li><span><a href="#">7</a></span></li>
                <li><span><a href="#">8</a></span></li>
                <li><span><a href="#">9</a></span></li>
                <li><span><a href="#">10</a></span></li>
                <li><span><a href="#">다음</a></span></li>
            </ul>
        </div>

    </div>

    <footer class="footer">
        <ul class="social_link">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
        <h3>Copyright 2020. Lee All Rights Reserved.</h3>
    </footer>

</body>

</html>