<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="reserve.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <script src="main.js" defer></script>
    <title>Movies</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar_logo">
                <a href="#"><img src="../img/logo2.jpg" alt="Logo"></a>
            </div>

            <ul class="navbar_menu">
                <li><a href="movies.html">영화</a></li>
                <li><a href="#">상품</a></li>
                <li><a href="#">영화후기</a></li>
                <li><a href="#">공지사항</a></li>
            </ul>

            <ul class="navbar_member">
                <li><a href="join.html">로그인</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>

            <a href="#" class="navbar_btn">menu</a>
        </nav>
    </header>

    <div class="main">
        <div class="container">
            <div>
                <h2>영화예매</h2>
            </div>
            <div class="mainbody">
                <div class="reserve_area">
                    <p>영화</p>
                    <div class="movie_select">
                        <ul>
                            <li><botton>유련선</botton></li>
                            <li><botton>라라랜드</botton></li>
                            <li><botton>어벤져스 엔드게임</botton></li>

                        </ul>
                    </div>
                </div>

                <div class="theater_area">
                    <p>영화관</p>
                    <div class="theater_select">
                        <ul>
                            <li>강동</li>
                            <li>강서</li>
                            <li>강남</li>
                            <li>강북</li>
                        </ul>
                    </div>
                </div>
                <div class="time_area">
                    <p>시간</p>
                    <div class="time_select">
                        <div class="schedule">
                            <div class="date">

                            </div>
                            <div class="time">

                            </div>
                        </div>
                        <div class="select_list">
                            <ul>
                                <li>
                                    <div class="result">
                                        <span>12:12</span>
                                        <span>라라랜드</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <ul class="social_link">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
        <h3>Copyright 2020. Lee All Rights Reserved.</h3>
    </footer>

</body>

</html>